Final Deliverables/node_red_flow_1.json
[{"id":"3dd9f40d69d0d58b","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"bd7ac463ea71f56d","type":"http in","z":"3dd9f40d69d0d58b","name":"","url":"/reg","method":"get","upload":false,"swaggerDoc":"","x":100,"y":280,"wires":[["b25a675dd39fa246"]]},{"id":"a0410bd74e6a0d58","type":"http response","z":"3dd9f40d69d0d58b","name":"","statusCode":"","headers":{},"x":710,"y":280,"wires":[]},{"id":"bad1d17ff8b50249","type":"cloudant out","z":"3dd9f40d69d0d58b","name":"Register","cloudant":"9f4da525c3fe54c5","database":"new_reg","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","payonly":true,"operation":"insert","x":880,"y":400,"wires":[]},{"id":"3a30e873b207a289","type":"debug","z":"3dd9f40d69d0d58b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":110,"y":400,"wires":[]},{"id":"b25a675dd39fa246","type":"function","z":"3dd9f40d69d0d58b","name":"Function 3","func":"a=msg.payload.reg //same procedure as Function 1\ns=a.replace(\"[\",'')\ns=s.replace(\"]\",'')\ns=s.split(\",\")\ncount=0\nc1=0\nc2=0\nc3=0\nc4=0\nc5=0\nfor(i in s[0]){\n    count=count+1}\nfor (j in s[0]){\n    name=s[0].slice(1,count-1)\n}\nfor(i in s[1]){\n    c1=c1+1\n}\nfor (var j in s[1]){\n    pass=s[1].slice(2,c1-1)\n}\nfor(i in s[2]){\n    c2=c2+1\n}\nfor (var j in s[2]){\n    age=s[2].slice(2,c2-1)\n}\nfor(i in s[3]){\n    c3=c3+1}\nfor (var j in s[3]){\n    mno=s[3].slice(2,c3-1)}\nfor(i in s[4]){\n    c4=c4+1}\nfor (var j in s[4]){\n    email=s[4].slice(2,c4-1)}\nfor(i in s[5]){\n    c5=c5+1}\nfor (var j in s[5]){\n    adrno=s[5].slice(2,c5-1)\n}\nmsg.payload={\n    \"User Name\": name,\n    \"Password\": pass,\n    \"Age\": age,\n    \"Mobile Number\": mno,\n    \"E-Mail Id\": email,\n    \"Aadhar Number\":adrno,\n}\nglobal.set('t',name)// setting each input as global variable\nglobal.set('u',pass)\nglobal.set('v',age)\nglobal.set('x',mno)\nglobal.set('y',email)\nglobal.set('z',adrno)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":340,"wires":[["b46ab4060b3cf98a","3a30e873b207a289"]]},{"id":"f9ed79ee4993cfca","type":"cloudant in","z":"3dd9f40d69d0d58b","name":"Login check","cloudant":"9f4da525c3fe54c5","database":"new_reg","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","search":"_all_","design":"new_reg","index":"E-Mail","x":330,"y":160,"wires":[["dd72a0f39b1dd717","a60e0952cde12fac"]]},{"id":"5f50c82c4b250e74","type":"http in","z":"3dd9f40d69d0d58b","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":100,"y":120,"wires":[["f9ed79ee4993cfca","a31ab659742cc754"]]},{"id":"dd72a0f39b1dd717","type":"debug","z":"3dd9f40d69d0d58b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":220,"wires":[]},{"id":"a60e0952cde12fac","type":"function","z":"3dd9f40d69d0d58b","name":"Function 2","func":"var a=msg.payload\nvar e=global.get('e') // getting global e\nvar p=global.get('p')\ncount=0\nfor(j in a){\n    count=count+1}\nflag=0\nflag1=0\n// checking emai and pass in DB and returning as flag,\nfor (i=0;i<count;i++){\n    if((e==a[i][\"E-Mail Id\"])&(p==a[i][\"Password\"]))\n    {\n      flag=1//if flag =1, credential availablle in DB ,send to App.\n    }\n    else{\n        flag1=1\n    }\n}\nif(flag==1){\n    msg.payload=1\n}\nelse if(flag==0){\n    msg.payload=0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":160,"wires":[["dd72a0f39b1dd717","0e68de0665b93b08"]]},{"id":"a31ab659742cc754","type":"function","z":"3dd9f40d69d0d58b","name":"Function 1","func":"a=msg.payload.login\ns=a.replace(\"[\",'') // replacing list box [] with the empty string\ns=s.replace(\"]\",'')\ns=s.split(\",\") // splitting each word string with ','\ncount=0 // to count the length of particular word to \nc1=0    // seaprate them from \"\" \nfor(i in s[0]){             //calculating length of first word      \n    count=count+1}\nfor (j in s[0]){  //taking only content iside string excluding \"\" \n    email=s[0].slice(1,count-1)}\nfor(i in s[1]){   // the same process is done for all input credential \n    c1=c1+1}\nfor (var j in s[1]){\n    pass=s[1].slice(2,c1-1)}// from 2 because to eliminate , and \"\"\nmsg.payload={\n    \"E-Mail Id\":email,\n    \"Password\":pass   // convert to json format ,store in msg.payload\n}\nglobal.set('e',email) //the above things are used for checking in DB\n//TAKING e and p as global to use in rest functions\nglobal.set('p',pass)\nglobal.set('m',msg.payload)\n//the same procedure is done in Function 2 and Function 3 \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":60,"wires":[["02d5719616b647e3"]]},{"id":"0e68de0665b93b08","type":"http response","z":"3dd9f40d69d0d58b","name":"","statusCode":"","headers":{},"x":750,"y":160,"wires":[]},{"id":"02d5719616b647e3","type":"debug","z":"3dd9f40d69d0d58b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":60,"wires":[]},{"id":"b46ab4060b3cf98a","type":"cloudant in","z":"3dd9f40d69d0d58b","name":"User check","cloudant":"9f4da525c3fe54c5","database":"new_reg","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","search":"_all_","design":"","index":"","x":290,"y":340,"wires":[["d1d17ec0deb886b3","8b91e598a5c0e2c9"]]},{"id":"d1d17ec0deb886b3","type":"function","z":"3dd9f40d69d0d58b","name":"Function 4","func":"var a=msg.payload\nvar y=global.get('y')\ncount=0\nfor(j in a){\n    count=count+1\n}\nflag=0\nflag1=0\nfor (i=0;i<count;i++){\n    if((y==a[i][\"E-Mail Id\"]))\n    {\n      flag=1\n    }\n    else{\n        flag1=1\n    }\n}\nif(flag==1){\n    msg.payload=1\n}\nelse if(flag==0){\n    msg.payload=0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":340,"wires":[["0cfba25ab08d4776","75cca21dd1209485"]]},{"id":"0cfba25ab08d4776","type":"switch","z":"3dd9f40d69d0d58b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":340,"wires":[["a0410bd74e6a0d58"],["d057b227a9b3b851","ae168035bbcd7633"]]},{"id":"75cca21dd1209485","type":"debug","z":"3dd9f40d69d0d58b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":400,"wires":[]},{"id":"8b91e598a5c0e2c9","type":"debug","z":"3dd9f40d69d0d58b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":400,"wires":[]},{"id":"d057b227a9b3b851","type":"function","z":"3dd9f40d69d0d58b","name":"Function 5","func":"var t=global.get('t')\nvar u=global.get('u')\nvar v=global.get('v')\nvar x=global.get('x')\nvar y=global.get('y')\nvar z=global.get('z')\nmsg.payload={\n    \"User Name\": t,\n    \"Password\": u,\n    \"Age\": v,\n    \"Mobile Number\": x,\n    \"E-Mail Id\": y,\n    \"Aadhar Number\": z,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":340,"wires":[["bad1d17ff8b50249"]]},{"id":"ae168035bbcd7633","type":"http response","z":"3dd9f40d69d0d58b","name":"","statusCode":"","headers":{},"x":710,"y":400,"wires":[]},{"id":"f61632c720d212ce","type":"http in","z":"3dd9f40d69d0d58b","name":"","url":"/reservation","method":"get","upload":false,"swaggerDoc":"","x":100,"y":500,"wires":[["0654a644f00ae24b","10af26cda1f16c49"]]},{"id":"0654a644f00ae24b","type":"function","z":"3dd9f40d69d0d58b","name":"Function 6","func":"a=msg.payload.reservation\nvar em=global.get('e')\nvar tno=global.get('tnumber')\ns=a.replace(\"[\",'')\ns=s.replace(\"]\",'')\ns=s.split(\",\")\nc1=0\nc2=0\nc3=0\nc4=0\nfor(i in s[0]){\n    c1=c1+1\n}\nfor (j in s[0]){\n name=s[0].slice(1,c1-1)\n}\nfor(i in s[1]){\n    c2=c2+1\n}\nfor (j in s[1]){\nage=s[1].slice(2,c2-1)\n}\nfor(i in s[2]){\n    c3=c3+1\n}\nfor (j in s[2]){\ngender=s[2].slice(2,c3-1)\n}\nfor(i in s[3]){\n    c4=c4+1\n}\nfor (j in s[3]){\naadhar=s[3].slice(2,c4-1)\n}\nmsg.payload={\n    \"T_no\":tno,\n    \"E-Mail Id\":em,\n    \"Name\":name,\n    \"Age\":age,\n    \"Gender\":gender,\n    \"Aadhar\":aadhar,\n}\nglobal.set('n',name)\nglobal.set('a',age)\nglobal.set('g',gender)\nglobal.set('aa',aadhar)\nglobal.set('tno1',tno)\nglobal.set('em',em)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":560,"wires":[["bbaa68afd95353d3","769a863c7332ce37"]]},{"id":"bbaa68afd95353d3","type":"debug","z":"3dd9f40d69d0d58b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":520,"wires":[]},{"id":"769a863c7332ce37","type":"function","z":"3dd9f40d69d0d58b","name":"Function 7","func":"var train=global.get('tno1')\nmsg.payload=train\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":600,"wires":[["9c6a4dbb8b4a65b3","4ac79948f9748073","87c8b3e79d047bef"]]},{"id":"9c6a4dbb8b4a65b3","type":"switch","z":"3dd9f40d69d0d58b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"12164","vt":"str"},{"t":"eq","v":"12615","vt":"str"},{"t":"eq","v":"11057","vt":"str"},{"t":"eq","v":"12952","vt":"str"},{"t":"eq","v":"12616","vt":"str"},{"t":"eq","v":"22920","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":390,"y":640,"wires":[["a47f46c6c7afeb5c"],["9e4231d8ba50496d"],["7feb748068d07469"],["78393161d5bc7c5c"],["e25cbc2d69cd3f70"],["91093223548a5ac4"]]},{"id":"a47f46c6c7afeb5c","type":"function","z":"3dd9f40d69d0d58b","name":"","func":"var n=global.get('n')\nvar a=global.get('a')\nvar g=global.get('g')\nvar aa=global.get('aa')\nvar ema=global.get('em')\nmsg.payload={\n    \"E-Mail Id\": ema,\n    \"Name\": n,\n    \"Age\":a,\n    \"Gender\":g,\n    \"Aadhar Number\": aa,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":540,"wires":[["d702c3363a309f77"]]},{"id":"9e4231d8ba50496d","type":"function","z":"3dd9f40d69d0d58b","name":"","func":"var n=global.get('n')\nvar a=global.get('a')\nvar g=global.get('g')\nvar aa=global.get('aa')\nvar ema=global.get('em')\nmsg.payload={\n    \"E-Mail Id\": ema,\n    \"Name\": n,\n    \"Age\":a,\n    \"Gender\":g,\n    \"Aadhar Number\": aa,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":580,"wires":[["9e7d9fde970ad63e"]]},{"id":"7feb748068d07469","type":"function","z":"3dd9f40d69d0d58b","name":"","func":"var n=global.get('n')\nvar a=global.get('a')\nvar g=global.get('g')\nvar aa=global.get('aa')\nvar ema=global.get('em')\nmsg.payload={\n    \"E-Mail Id\": ema,\n    \"Name\": n,\n    \"Age\":a,\n    \"Gender\":g,\n    \"Aadhar Number\": aa,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":620,"wires":[["88f09283a5ba8992"]]},{"id":"78393161d5bc7c5c","type":"function","z":"3dd9f40d69d0d58b","name":"","func":"var n=global.get('n')\nvar a=global.get('a')\nvar g=global.get('g')\nvar aa=global.get('aa')\nvar ema=global.get('em')\nmsg.payload={\n    \"E-Mail Id\": ema,\n    \"Name\": n,\n    \"Age\":a,\n    \"Gender\":g,\n    \"Aadhar Number\": aa,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":660,"wires":[["483a6371e14044e8"]]},{"id":"e25cbc2d69cd3f70","type":"function","z":"3dd9f40d69d0d58b","name":"","func":"var n=global.get('n')\nvar a=global.get('a')\nvar g=global.get('g')\nvar aa=global.get('aa')\nvar ema=global.get('em')\nmsg.payload={\n    \"E-Mail Id\": ema,\n    \"Name\": n,\n    \"Age\":a,\n    \"Gender\":g,\n    \"Aadhar Number\": aa,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":700,"wires":[["f28ea088bfe32ad8"]]},{"id":"91093223548a5ac4","type":"function","z":"3dd9f40d69d0d58b","name":"","func":"var n=global.get('n')\nvar a=global.get('a')\nvar g=global.get('g')\nvar aa=global.get('aa')\nvar ema=global.get('em')\nmsg.payload={\n    \"E-Mail Id\": ema,\n    \"Name\": n,\n    \"Age\":a,\n    \"Gender\":g,\n    \"Aadhar Number\": aa,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":740,"wires":[["34f47e78a2c2df23"]]},{"id":"d702c3363a309f77","type":"cloudant out","z":"3dd9f40d69d0d58b","name":"train1","cloudant":"9f4da525c3fe54c5","database":"t12164","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","payonly":true,"operation":"insert","x":830,"y":540,"wires":[]},{"id":"9e7d9fde970ad63e","type":"cloudant out","z":"3dd9f40d69d0d58b","name":"train2","cloudant":"9f4da525c3fe54c5","database":"t12615","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","payonly":true,"operation":"insert","x":830,"y":580,"wires":[]},{"id":"88f09283a5ba8992","type":"cloudant out","z":"3dd9f40d69d0d58b","name":"train3","cloudant":"9f4da525c3fe54c5","database":"t11057","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","payonly":true,"operation":"insert","x":830,"y":620,"wires":[]},{"id":"483a6371e14044e8","type":"cloudant out","z":"3dd9f40d69d0d58b","name":"train4","cloudant":"9f4da525c3fe54c5","database":"t12592","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","payonly":true,"operation":"insert","x":830,"y":660,"wires":[]},{"id":"f28ea088bfe32ad8","type":"cloudant out","z":"3dd9f40d69d0d58b","name":"train5","cloudant":"9f4da525c3fe54c5","database":"t12616","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","payonly":true,"operation":"insert","x":830,"y":700,"wires":[]},{"id":"34f47e78a2c2df23","type":"cloudant out","z":"3dd9f40d69d0d58b","name":"train6","cloudant":"9f4da525c3fe54c5","database":"t22920","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","payonly":true,"operation":"insert","x":830,"y":740,"wires":[]},{"id":"10af26cda1f16c49","type":"debug","z":"3dd9f40d69d0d58b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":480,"wires":[]},{"id":"4ac79948f9748073","type":"debug","z":"3dd9f40d69d0d58b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":110,"y":640,"wires":[]},{"id":"79ee47c4fe6e9464","type":"http in","z":"3dd9f40d69d0d58b","name":"","url":"/buffer","method":"get","upload":false,"swaggerDoc":"","x":110,"y":800,"wires":[["707968cfe4fd1354"]]},{"id":"707968cfe4fd1354","type":"function","z":"3dd9f40d69d0d58b","name":"","func":"a=msg.payload.buffer\nglobal.set('tnumber',a)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":800,"wires":[["b81340398bc02d84"]]},{"id":"b81340398bc02d84","type":"debug","z":"3dd9f40d69d0d58b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":800,"wires":[]},{"id":"5feb075aa98c43db","type":"http in","z":"3dd9f40d69d0d58b","name":"","url":"/summary","method":"get","upload":false,"swaggerDoc":"","x":120,"y":840,"wires":[["c54baa5b6829ff4b"]]},{"id":"c54baa5b6829ff4b","type":"function","z":"3dd9f40d69d0d58b","name":"","func":"x=msg.payload.summary\nvar n=global.get('n')\nvar a=global.get('a')\nvar g=global.get('g')\nvar aa=global.get('aa')\nvar tnu=global.get('tno1')\nif(x==\"1\"){\n    msg.payload={\n        \"Train Number\":tnu,\n        \"Name\":n,\n        \"Age\":a,\n        \"Gender\":g,\n        \"Aadhar\":aa\n        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":840,"wires":[["66a75da91ec81990","b81340398bc02d84"]]},{"id":"66a75da91ec81990","type":"http response","z":"3dd9f40d69d0d58b","name":"","statusCode":"","headers":{},"x":510,"y":840,"wires":[]},{"id":"87c8b3e79d047bef","type":"http response","z":"3dd9f40d69d0d58b","name":"","statusCode":"","headers":{},"x":330,"y":560,"wires":[]},{"id":"6122eb8c6dd55298","type":"http in","z":"3dd9f40d69d0d58b","name":"","url":"/QRcode","method":"get","upload":false,"swaggerDoc":"","x":110,"y":880,"wires":[["e4d2a7655126d925"]]},{"id":"e4d2a7655126d925","type":"function","z":"3dd9f40d69d0d58b","name":"","func":"a=msg.payload.QRcode\n\nvar n=global.get('n')\nvar a=global.get('a')\nvar g=global.get('g')\nvar aa=global.get('aa')\nvar id=global.get('id')\nvar tnu=global.get('tno1')\nmsg.payload={\n        \"Id\":id,\n        \"Train Number\":tnu,\n        \"Name\":n,\n        \"Age\":a,\n        \"Gender\":g,\n        \"Aadhar\":aa\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":880,"wires":[["e999ccc575c59628","3e6062ad662e623e"]]},{"id":"e999ccc575c59628","type":"debug","z":"3dd9f40d69d0d58b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":920,"wires":[]},{"id":"3e6062ad662e623e","type":"http response","z":"3dd9f40d69d0d58b","name":"","statusCode":"","headers":{},"x":510,"y":880,"wires":[]},{"id":"9f4da525c3fe54c5","type":"cloudant","host":"2e5426c1-bb15-4822-8a63-61c05c8fb365-bluemix.cloudantnosqldb.appdomain.cloud","name":""}]