Final Deliverables/node_red_flow_2.json
[{"id":"c1adb7f2adfa2868","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"e9d22cf83d0b1847","type":"http in","z":"c1adb7f2adfa2868","name":"","url":"/Train1","method":"get","upload":false,"swaggerDoc":"","x":90,"y":60,"wires":[["536cb440ccc6c00d"]]},{"id":"e0b6119502a036ac","type":"http response","z":"c1adb7f2adfa2868","name":"","statusCode":"","headers":{},"x":890,"y":60,"wires":[]},{"id":"536cb440ccc6c00d","type":"function","z":"c1adb7f2adfa2868","name":"","func":"a=msg.payload.Train1\nif (a==\"1\"){\n    msg.payload=1\n}\nvar m=msg.payload\nglobal.set('m1',m)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":60,"wires":[["d2adde1a4cbcd0ee","47670f551fc07c15"]]},{"id":"d2adde1a4cbcd0ee","type":"cloudant in","z":"c1adb7f2adfa2868","name":"Seat check","cloudant":"9f4da525c3fe54c5","database":"t12164","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","search":"_all_","design":"","index":"","x":450,"y":60,"wires":[["0dfa2055ec85bbe1","0ca984a17cf7618e"]]},{"id":"0dfa2055ec85bbe1","type":"function","z":"c1adb7f2adfa2868","name":"","func":"var a=msg.payload\nvar m=global.get('m1')\ncount=0\nseat=50\nfor(j in a){\n    count=count+1}\nseat=seat-count\nmsg.payload =seat\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":60,"wires":[["e0b6119502a036ac","0ca984a17cf7618e"]]},{"id":"0ca984a17cf7618e","type":"debug","z":"c1adb7f2adfa2868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":120,"wires":[]},{"id":"47670f551fc07c15","type":"debug","z":"c1adb7f2adfa2868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":120,"wires":[]},{"id":"55d5b513c435164b","type":"http in","z":"c1adb7f2adfa2868","name":"","url":"/Train2","method":"get","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["cb184f502574a6e6"]]},{"id":"73087d779baa0966","type":"http response","z":"c1adb7f2adfa2868","name":"","statusCode":"","headers":{},"x":890,"y":180,"wires":[]},{"id":"cb184f502574a6e6","type":"function","z":"c1adb7f2adfa2868","name":"","func":"a=msg.payload.Train2\nif (a==\"1\"){\n    msg.payload=1\n}\nvar m=msg.payload\nglobal.set('m2',m)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":180,"wires":[["01f61acb99aea2fb","cd49989e5760c6d2"]]},{"id":"01f61acb99aea2fb","type":"cloudant in","z":"c1adb7f2adfa2868","name":"Seat check","cloudant":"9f4da525c3fe54c5","database":"t12615","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","search":"_all_","design":"","index":"","x":450,"y":180,"wires":[["b9a72e71d4308227","e498308f7d14c8c2"]]},{"id":"b9a72e71d4308227","type":"function","z":"c1adb7f2adfa2868","name":"","func":"var a=msg.payload\nvar m=global.get('m2')\ncount=0\nseat=50\nfor(j in a){\n    count=count+1\n    \n}\nseat=seat-count\nmsg.payload =seat\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":180,"wires":[["73087d779baa0966","e498308f7d14c8c2"]]},{"id":"e498308f7d14c8c2","type":"debug","z":"c1adb7f2adfa2868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":240,"wires":[]},{"id":"cd49989e5760c6d2","type":"debug","z":"c1adb7f2adfa2868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":240,"wires":[]},{"id":"1e97538487015c77","type":"http in","z":"c1adb7f2adfa2868","name":"","url":"/Train3","method":"get","upload":false,"swaggerDoc":"","x":90,"y":300,"wires":[["3ebe5b5fd8d81201"]]},{"id":"a8f83233bfdb9f25","type":"http response","z":"c1adb7f2adfa2868","name":"","statusCode":"","headers":{},"x":890,"y":300,"wires":[]},{"id":"3ebe5b5fd8d81201","type":"function","z":"c1adb7f2adfa2868","name":"","func":"a=msg.payload.Train3\nif (a==\"1\"){\n    msg.payload=1\n}\nvar m=msg.payload\nglobal.set('m3',m)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":300,"wires":[["95ed0bfd967148e1","c56f1a09aa38a7e5"]]},{"id":"95ed0bfd967148e1","type":"cloudant in","z":"c1adb7f2adfa2868","name":"Seat check","cloudant":"9f4da525c3fe54c5","database":"t11057","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","search":"_all_","design":"","index":"","x":450,"y":300,"wires":[["6ebef2d8ea1a2108","f38b804cfd0193b3"]]},{"id":"6ebef2d8ea1a2108","type":"function","z":"c1adb7f2adfa2868","name":"","func":"var a=msg.payload\nvar m=global.get('m3')\ncount=0\nseat=50\nfor(j in a){\n    count=count+1\n    \n}\nseat=seat-count\nmsg.payload =seat\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":300,"wires":[["a8f83233bfdb9f25","f38b804cfd0193b3"]]},{"id":"f38b804cfd0193b3","type":"debug","z":"c1adb7f2adfa2868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":360,"wires":[]},{"id":"c56f1a09aa38a7e5","type":"debug","z":"c1adb7f2adfa2868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":360,"wires":[]},{"id":"7b12a987603f8f82","type":"http in","z":"c1adb7f2adfa2868","name":"","url":"/Train4","method":"get","upload":false,"swaggerDoc":"","x":90,"y":420,"wires":[["12aeffa12ff615df"]]},{"id":"52c594d8a41ec7d5","type":"http response","z":"c1adb7f2adfa2868","name":"","statusCode":"","headers":{},"x":890,"y":420,"wires":[]},{"id":"12aeffa12ff615df","type":"function","z":"c1adb7f2adfa2868","name":"","func":"a=msg.payload.Train4\nif (a==\"1\"){\n    msg.payload=1\n}\nvar m=msg.payload\nglobal.set('m4',m)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":420,"wires":[["ebbb76c0ab855e17","17cebe9bbec9f886"]]},{"id":"ebbb76c0ab855e17","type":"cloudant in","z":"c1adb7f2adfa2868","name":"Seat check","cloudant":"9f4da525c3fe54c5","database":"t12952","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","search":"_all_","design":"","index":"","x":450,"y":420,"wires":[["f0ef94db6ddf2650","6d9c642b2ecbd4c0"]]},{"id":"f0ef94db6ddf2650","type":"function","z":"c1adb7f2adfa2868","name":"","func":"var a=msg.payload\nvar m=global.get('m4')\ncount=0\nseat=50\nfor(j in a){\n    count=count+1\n    \n}\nseat=seat-count\nmsg.payload =seat\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":420,"wires":[["52c594d8a41ec7d5","6d9c642b2ecbd4c0"]]},{"id":"6d9c642b2ecbd4c0","type":"debug","z":"c1adb7f2adfa2868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":480,"wires":[]},{"id":"17cebe9bbec9f886","type":"debug","z":"c1adb7f2adfa2868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":480,"wires":[]},{"id":"9cf1a88a719954e1","type":"http in","z":"c1adb7f2adfa2868","name":"","url":"/Train5","method":"get","upload":false,"swaggerDoc":"","x":90,"y":540,"wires":[["fad3c95b64c53778"]]},{"id":"4787f84c69b090fd","type":"http response","z":"c1adb7f2adfa2868","name":"","statusCode":"","headers":{},"x":890,"y":540,"wires":[]},{"id":"fad3c95b64c53778","type":"function","z":"c1adb7f2adfa2868","name":"","func":"a=msg.payload.Train5\nif (a==\"1\"){\n    msg.payload=1\n}\nvar m=msg.payload\nglobal.set('m5',m)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":540,"wires":[["c39b049070363658","1ccf4350a77434d1"]]},{"id":"c39b049070363658","type":"cloudant in","z":"c1adb7f2adfa2868","name":"Seat check","cloudant":"9f4da525c3fe54c5","database":"t12616","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","search":"_all_","design":"","index":"","x":450,"y":540,"wires":[["c2eb2fb520b487f9","12011e04e4130dd6"]]},{"id":"c2eb2fb520b487f9","type":"function","z":"c1adb7f2adfa2868","name":"","func":"var a=msg.payload\nvar m=global.get('m5')\ncount=0\nseat=50\nfor(j in a){\n    count=count+1\n    \n}\nseat=seat-count\nmsg.payload =seat\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":540,"wires":[["4787f84c69b090fd","12011e04e4130dd6"]]},{"id":"12011e04e4130dd6","type":"debug","z":"c1adb7f2adfa2868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":600,"wires":[]},{"id":"1ccf4350a77434d1","type":"debug","z":"c1adb7f2adfa2868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":600,"wires":[]},{"id":"6daeb2f5ca0d308e","type":"http in","z":"c1adb7f2adfa2868","name":"","url":"/Train6","method":"get","upload":false,"swaggerDoc":"","x":90,"y":640,"wires":[["aa735471b942757b"]]},{"id":"d14079c9ed45a539","type":"http response","z":"c1adb7f2adfa2868","name":"","statusCode":"","headers":{},"x":890,"y":640,"wires":[]},{"id":"aa735471b942757b","type":"function","z":"c1adb7f2adfa2868","name":"","func":"a=msg.payload.Train6\nif (a==\"1\"){\n    msg.payload=1\n}\nvar m=msg.payload\nglobal.set('m6',m)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":640,"wires":[["eaa5f9c2917f5101","d2d3a3142ee11159"]]},{"id":"eaa5f9c2917f5101","type":"cloudant in","z":"c1adb7f2adfa2868","name":"Seat check","cloudant":"9f4da525c3fe54c5","database":"t22920","service":"node-red-zcqxd-2022--cloudant-1668272678573-89752","search":"_all_","design":"","index":"","x":450,"y":640,"wires":[["54285810ceeb036e","191ceba0cf921f24"]]},{"id":"54285810ceeb036e","type":"function","z":"c1adb7f2adfa2868","name":"","func":"var a=msg.payload\nvar m=global.get('m6')\ncount=0\nseat=50\nfor(j in a){\n    count=count+1\n    \n}\nseat=seat-count\nmsg.payload =seat\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":640,"wires":[["d14079c9ed45a539","191ceba0cf921f24"]]},{"id":"191ceba0cf921f24","type":"debug","z":"c1adb7f2adfa2868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":700,"wires":[]},{"id":"d2d3a3142ee11159","type":"debug","z":"c1adb7f2adfa2868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":700,"wires":[]},{"id":"af9c9ed923c8a2f8","type":"http in","z":"c1adb7f2adfa2868","name":"MIT app","url":"/loc","method":"get","upload":false,"swaggerDoc":"","x":80,"y":820,"wires":[["7d6c893c8e7b96e0"]]},{"id":"46f37c20f9f03032","type":"http response","z":"c1adb7f2adfa2868","name":"","statusCode":"","headers":{},"x":490,"y":820,"wires":[]},{"id":"7d6c893c8e7b96e0","type":"function","z":"c1adb7f2adfa2868","name":"","func":"var a = global.get('lat')\nvar b = global.get('lon')\nmsg.payload={\n    \"Latitude\":a,\n    \"Longitude\":b\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":820,"wires":[["46f37c20f9f03032"]]},{"id":"4a03c0df0e357fa8","type":"debug","z":"c1adb7f2adfa2868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":760,"wires":[]},{"id":"c155718a63c55b46","type":"function","z":"c1adb7f2adfa2868","name":"","func":"a=msg.payload\nb=a[\"Latitude\"]\nc=a[\"Longitude\"]\nglobal.set('lat',b)\nglobal.set('lon',c)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":760,"wires":[["4a03c0df0e357fa8"]]},{"id":"0a1f744ad5b45de8","type":"ibmiot in","z":"c1adb7f2adfa2868","authentication":"apiKey","apiKey":"765ab30957d01f44","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1923","applicationId":"","deviceType":"GPS","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":760,"wires":[["c155718a63c55b46"]]},{"id":"9f4da525c3fe54c5","type":"cloudant","host":"2e5426c1-bb15-4822-8a63-61c05c8fb365-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"765ab30957d01f44","type":"ibmiot","name":"IBM API","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]